version: "3.3"
services:
  db:
    image: postgres:11.2-alpine
    restart: always
    ports:
      - '5432:5432'
    env_file:
      - .env

  adminer:
    image: adminer
    restart: always
    ports:
      - '3088:8080'
  mailcatcher:
    image: tophfr/mailcatcher
    ports:
      - '3080:80'
      - '3025:25'
